---
#переменные
- name: set node_exporter variable
  set_fact:
    node_exporter_version: "1.10.2"
    node_exporter_user: "node_exporter"
    node_exporter_group: "node_exporter"
    node_exporter_port: 9100
  tags: ['node_exporter', 'vars']



#создание пользователя
- name: create node_exporter user
  user:
    name: "{{ node_exporter_user }}"
    shell: /usr/sbin/nologin
    home: /var/lib/node_exporter
    createhome: no
    state: present
  become: yes
  tags: ['node_exporter', 'system']



#скачать node_exporter
- name: download node_exporter binary
  get_url:
    url: "https://github.com/prometheus/node_exporter/releases/download/v{{ node_exporter_version }}/node_exporter-{{ node_exporter_version }}.linux-amd64.tar.gz"
    dest: /tmp/node_exporter-{{ node_exporter_version }}.linux-amd64.tar.gz
    checksum: "sha256:c46e5b6f53948477ff3a19d97c58307394a29fe64a01905646f026ddc32cb65b"  # Проверяем целостность - УКАЖИ sha с офицального репо!
  tags: ['node_exporter', 'download']
#распаковка
- name: extract node_exporter archiv
  unarchive:
    src: /tmp/node_exporter-{{ node_exporter_version }}.linux-amd64.tar.gz
    dest: /tmp
    remote_src: yes
  become: yes
  tags: ['node_exporter', 'extract']
#скопировать бинарь в /usr/local/bin
- name: copy node_exporter binary
  copy:
    src: "/tmp/node_exporter-{{ node_exporter_version }}.linux-amd64/node_exporter"
    dest: /usr/local/bin/node_exporter
    owner: root
    group: root
    mode: '0755'
    remote_src: yes
  become: yes
  tags: ['node_exporter', 'install']



#почистить tmp
- name: clean up tmp
  file:
    path: "{{ item }}"
    state: absent
  become: yes
  loop:
    - "/tmp/node_exporter-{{ node_exporter_version }}.linux-amd64.tar.gz"
    - "/tmp/node_exporter-{{ node_exporter_version }}.linux-amd64"
  tags: ['node_exporter', 'cleanup']



#создать systemd сервис
- name: create node_exporter service
  template:
    src: node_exporter.service.j2
    dest: /etc/systemd/system/node_exporter.service
    owner: root
    group: root
    mode: '0644'
  become: yes
  notify: daemon reload
  tags: ['node_exporter', 'systemd']



#start & enable
- name: start and enable node_exporter
  systemd:
    name: node_exporter
    state: started
    enabled: yes
  become: yes
  tags: ['node_exporter', 'service']



#проверка доступности
- name: check for node_exporter to be ready
  wait_for:
    host: localhost
    port: "{{ node_exporter_port }}"
    delay: 1
    timeout: 10
  tags: ['node_exporter', 'verify']



#получить версию
- name: check node_exporter version
  command: /usr/local/bin/node_exporter --version
  register: node_exporter_output
  changed_when: false
  tags: ['node_exporter', 'debug']
#вывести
- name: otput version
  debug:
    msg: "{{ node_exporter_output.stdout }}"
  tags: ['node_exporter', 'debug']
