---
#переменные
- name: set elasticsearch variables
  set_fact:
    elasticsearch_version: "9.17.0"
    elasticsearch_user: "elasticsearch"
    elasticsearch_group: "elasticsearch"
    elasticsearch_port: 9200
    elasticsearch_node_port: 9300
    elasticsearch_data_dir: /var/lib/elasticsearch
    elasticsearch_config_dir: /etc/elasticsearch
    elasticsearch_home: /usr/share/elasticsearch
  tags: ['elasticsearch', 'vars']



#установка зависимостей
- name: install prerequisite packages
  apt:
    name:
      - apt-transport-https
      - software-properties-common
      - wget
      - gnupg
    state: present
    update_cache: yes
  become: yes
  tags: ['elasticsearch', 'deps']



#создать директорию для keyring
- name: create keyrings directory
  file:
    path: /etc/apt/keyrings
    state: directory
    mode: '0755'
  become: yes
  tags: ['elasticsearch', 'repos']



#скачать elastic gpg ключ и конвертнуть в бинарь
- name: download and convert elasticsearch GPG key
  shell: |
    set -e
    wget -O /tmp/elasticsearch.gpg.key https://artifacts.elastic.co/GPG-KEY-elasticsearch
    gpg --dearmor < /tmp/elasticsearch.gpg.key > /etc/apt/keyrings/elasticsearch.gpg
    chmod 644 /etc/apt/keyrings/elasticsearch.gpg
    rm -f /tmp/elasticsearch.gpg.key
  become: yes
  tags: ['elasticsearch', 'repos']



#добавить elastic-yandex репо с подписью
- name: add elasticsearch repository - yandex miror
  apt_repository:
    repo: "deb [signed-by=/etc/apt/keyrings/elasticsearch.gpg] https://mirror.yandex.ru/mirrors/elastic/9/ stable main"
    state: present
    filename: elastic
  become: yes
  tags: ['elasticsearch', 'repos']

- name: update apt cache
  apt:
    update_cache: yes
  become: yes
  tags: ['elasticsearch', 'repos']



#установка
- name: install elasticsearch
  apt:
    name: elasticsearch
    state: present
    update_cache: yes
  become: yes
  tags: ['elasticsearch', 'packages']



#создание директории данных
- name: create for elastic data directory
  file:
    path: "{{ elasticsearch_data_dir }}"
    owner: "{{ elasticsearch_user }}"
    group: "{{ elasticsearch_group }}"
    mode: '0755'
    state: directory
  become: yes
  tags: ['elasticsearch', 'dirs']



#рекомендовано увеличить лимиты памяти
- name: set elastic system limits
  lineinfile:
    path: /etc/security/limits.conf
    line: "{{ item }}"
    state: present
  become: yes
  loop:
    - "elasticsearch soft memlock unlimited"
    - "elasticsearch hard memlock unlimited"
    - "elasticsearch soft nofile 65536"
    - "elasticsearch hard nofile 65536"
  tags: ['elasticsearch', 'limits']

#рекомендовано увеличить память
- name: set v-memory limit
  sysctl:
    name: vm.max_map_count
    value: '262144'
    sysctl_set: yes
    state: present
  become: yes
  tags: ['elasticsearch', 'sysctl']



#создать конфиг
- name: create elastic config
  template:
    src: elasticsearch.yml.j2
    dest: "{{ elasticsearch_config_dir }}/elasticsearch.yml"
    owner: "{{ elasticsearch_user }}"
    group: "{{ elasticsearch_group }}"
    mode: '0660'
  become: yes
  notify: restart elasticsearch
  tags: ['elasticsearch', 'config']



# удалить keystore
- name: remove keystore
  file:
    path: /etc/elasticsearch/elasticsearch.keystore
    state: absent
  become: yes
  tags: ['elasticsearch', 'config']



#права на конфиги и данные
- name: elastic directories permissions
  file:
    path: "{{ item }}"
    owner: "{{ elasticsearch_user }}"
    group: "{{ elasticsearch_group }}"
    mode: '0755'
    recurse: yes
  become: yes
  with_items:
    - /etc/elasticsearch
    - /var/lib/elasticsearch
    - /var/log/elasticsearch
  tags: ['elasticsearch', 'permissions']

- name: elastic config  permissions
  file:
    path: /etc/elasticsearch/elasticsearch.yml
    owner: "{{ elasticsearch_user }}"
    group: "{{ elasticsearch_group }}"
    mode: '0644'
  become: yes
  tags: ['elasticsearch', 'permissions']



#стартую elastic
- name: start & enable elasticsearch-service
  systemd:
    name: elasticsearch
    state: started
    enabled: yes
  become: yes
  tags: ['elasticsearch', 'service']



#жду подхёма сервиса
- name: wait for elastic-service to be ready
  wait_for:
    host: localhost
    port: "{{ elasticsearch_port }}"
    delay: 5
    timeout: 60
  tags: ['elasticsearch', 'verify']



#чекаю статус
- name: check elastic-cluster status
  uri:
    url: "http://localhost:{{ elasticsearch_port }}/_cluster/health"
    method: GET
    status_code: 200
  register: es_health
  changed_when: false
  retries: 5
  delay: 10
  tags: ['elasticsearch', 'verify']
#вывод статуса
- name: output elastic-cluster status
  debug:
    msg: "Elasticsearch cluster status: {{ es_health.json | to_nice_json }}"
  tags: ['elasticsearch', 'debug']

#чекаю версию
- name: ceck elastic-version
  uri:
    url: "http://localhost:{{ elasticsearch_port }}/"
    method: GET
    status_code: 200
  register: es_version
  changed_when: false
  tags: ['elasticsearch', 'debug']
#вывод версии
- name: otuput elastic-version
  debug:
    msg: "Elasticsearch version: {{ es_version.json.version.number }}"
  tags: ['elasticsearch', 'debug']
