---
#prometeus
- name: configure prometheus server
  hosts: prometheus
  gather_facts: yes

  tasks:
    - name: apply base configuration
      include_role:
        name: base
      tags: ['base']

    - name: install prometheus
      include_role:
        name: prometheus
      tags: ['prometheus', 'monitoring']

    - name: install node exporter
      include_role:
        name: node_exporter
      tags: ['monitoring', 'node_exporter']

  vars:
    prometheus_port: 9090
    prometheus_internal_ip: "{{ ansible_host }}"



#grafana
- name: configure grafana server
  hosts: grafana
  gather_facts: yes

  tasks:
    - name: apply base configuration
      include_role:
        name: base
      tags: ['base']

    - name: install grafana
      include_role:
        name: grafana
      tags: ['grafana', 'monitoring']

    - name: install nod exporter
      include_role:
        name: node_exporter
      tags: ['monitoring', 'node_exporter']

  vars:
    grafana_port: 3000