# имя кластера
cluster.name: elastic-cluster

# контроль дискового пространства
cluster.routing.allocation.disk.threshold_enabled: true

# пороги свободного места
cluster.routing.allocation.disk.watermark.low: 85%
cluster.routing.allocation.disk.watermark.high: 90%

# имя узла
node.name: {{ ansible_hostname }}

# роли узла
node.roles: [master, data, ingest]

# слушать на всех интерфейсах, http порт и транспортный порт
network.host: 0.0.0.0
http.port: {{ elasticsearch_port }}
transport.port: {{ elasticsearch_node_port }}

# каталоги хранения данных и логов
path.data: {{ elasticsearch_data_dir }}
path.logs: /var/log/elasticsearch

# одиночный узел кластер
discovery.type: single-node

# автосоздание индексов
action.auto_create_index: true

# сбор данных xpack
xpack.monitoring.collection.enabled: true

# отключение безопасности xpack
xpack.security.enabled: false
xpack.security.enrollment.enabled: false
